.ant-formily-array-base-copy,
.ant-formily-array-base-remove {
  transition: all 0.25s ease-in-out;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
}

.ant-formily-array-base-copy:hover,
.ant-formily-array-base-remove:hover {
  color: #40a9ff;
}

.ant-formily-array-base-copy-disabled,
.ant-formily-array-base-remove-disabled {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.ant-formily-array-base-copy-disabled:hover,
.ant-formily-array-base-remove-disabled:hover {
  color: rgba(0, 0, 0, 0.25);
}

.ant-formily-array-base-sort-handle {
  cursor: move;
  color: #888;
}

.ant-formily-array-base-addition {
  transition: all 0.25s ease-in-out;
}

.ant-formily-array-base-move-down {
  transition: all 0.25s ease-in-out;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  margin-left: 6px;
}

.ant-formily-array-base-move-down:hover {
  color: #40a9ff;
}

.ant-formily-array-base-move-down-disabled {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.ant-formily-array-base-move-down-disabled:hover {
  color: rgba(0, 0, 0, 0.25);
}

.ant-formily-array-base-move-up {
  transition: all 0.25s ease-in-out;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  margin-left: 6px;
}

.ant-formily-array-base-move-up:hover {
  color: #40a9ff;
}

.ant-formily-array-base-move-up-disabled {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.ant-formily-array-base-move-up-disabled:hover {
  color: rgba(0, 0, 0, 0.25);
}

.ant-formily-array-cards-item {
  margin-bottom: 10px;
}

.ant-card-extra .ant-formily-array-base-copy {
  margin-left: 6px;
}
