.page-header {
  box-sizing: border-box;
  margin: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', 'tnum';
  position: relative;
  padding: 16px 24px;
  background-color: #fff;
}

.page-header.page-header-has-breadcrumb {
  padding-top: 12px;
}
