.login-wrap {
  width: 368px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-wrap .icon {
  margin-left: 16px;
  color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  vertical-align: middle;
  cursor: pointer;
  transition: color 0.3s;
}

.login-wrap .icon:hover {
  color: #1677ff;
}

.login-wrap .other {
  margin-top: 24px;
  line-height: 22px;
  text-align: left;
}

.login-wrap .other .register {
  float: right;
}

.login-wrap .login .prefixIcon {
  color: #d9d9d9;
  font-size: 14px;
}

.login-wrap .login .submit {
  width: 100%;
  margin-top: 24px;
}

.login-wrap .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.login-wrap .btn .ant-btn-link {
  padding-right: 0;
}
